.card{
  &__img{
    max-width: 100%;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.06)
    }
    &_wrapper {
      background-color: transparent;
      perspective: 1000px;
    }
    &_transform {
      position: absolute;
      width: 40px;
      height: 40px;
      opacity: 0.60;
      background: white;
      border-radius: 100%;
      border: 2px solid #343242;
      display: block;
      height: 44px;
      width: 44px;
      padding: 7px;
      cursor: pointer;
      top: -22px;
      left: -22px;
      &:hover {
        opacity: 1;
      }
    }
    &_flip {
      position: relative;
      transition: transform 1.2s;
      transform-style: preserve-3d;
    }
    &_front {
      backface-visibility: hidden;
    }
    &_back {
      position: absolute;
      top:0;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }
  }
  &__wish button {
    position: absolute;
    color:crimson;
    width: 40px;
    height: 40px;
    opacity: 0.60;
    background: white;
    border-radius: 100%;
    border: 2px solid #343242;
    display: block;
    height: 44px;
    width: 44px;
    padding: 7px;
    cursor: pointer;
    top: 40%;
    left: 86%;
    &:hover {
      opacity: 1;
    }
    &:last-child {
      top: 26%;
      color: black;
    }
    &:first-child {
      border: 2px solid #343242 !important;
      background: white !important;
      top: 12%;
      color: #4ca3e2;
      & i {
        transform:translateY(3px) scale(1.5);
      }
    }
  }
}
.flip__card {
  transform: rotateY(180deg);
}
.card__absolute {
  position: absolute;
}