.main {
  &__search{
  color: white;
  font-weight: 100;
  height: calc(100vh - 64px);
  background: linear-gradient(180deg, rgba(78,52,46,1) 0%, rgba(78,52,46,1) 20%, #698287 100%);
  display: flex;
  align-items: center;
  }
  &__header_bold {
    font-weight: 700;
  }
}